<nav class="nav">
	<ul class="nav-ul">
		<li class="nav-ul-li"><a href="/">Home</a></li>
		<li class="nav-ul-li"><a href="/bubbles">Bubbles</a></li>
		<li class="nav-ul-li"><a href="/lines">Lines</a></li>
		<li class="nav-ul-li"><a href="/space">Space</a></li>
	</ul>
</nav>