<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
</head>
<body class="error-body">
	<div class="wrapper-err">
		<h1><span class="err"><b>ERROR 404</b></span> - NOT FOUND</h1>
		<div class="err-emoji">:(</div>
	</div>
	
</body>
</html>