<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
</head>
<body id="main">
	<% include partials/nav.ejs %>
	<div class="container" id="particles-js">
		<h1>PARTICLE JS EFFECTS</h1>
	</div>
	<footer class="footer-container">
		<h2>&copy; RGV &nbsp;<span id="date"></span></h2>
	</footer>
	<script type="text/javascript">
		const d = new Date();
		document.getElementById('date').innerHTML = d.getFullYear();
	</script>
	<% include partials/scripts.ejs %>
</body>
</html>